* {
  margin: 0;
}

.btn {
  margin: 0.25em;
  border: 0;
  background: 0;
  padding: 0.5em;
  font-family: 'Comfortaa', sans-serif;
  font-size: 0.8em;
  color: #454afd;
  background: #f7f7ff;
  -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.57);
          box-shadow: 0 10px 60px rgba(0, 0, 0, 0.57);
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.btn:focus {
  outline: 0;
}

.btn:hover, .btn:focus {
  background: #454afd;
  color: #f7f7ff;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 95vh;
  overflow-x: hidden;
  background: #f7f7ff;
}

main .inner {
  font-family: 'Comfortaa', sans-serif;
  width: 80%;
  margin-top: 1em;
  padding: 1em;
  background: #f7f7ff;
  text-align: center;
  -webkit-box-shadow: 0 10px 60px rgba(69, 74, 253, 0.19);
          box-shadow: 0 10px 60px rgba(69, 74, 253, 0.19);
}

main .inner #quote {
  font-size: 1.3em;
  line-height: 1.2em;
  color: #252525;
}

main .inner #author {
  font-size: 0.7em;
  margin-top: 1em;
  font-style: italic;
  color: #888888;
}

main .inner .options {
  position: absolute;
  width: 100%;
  bottom: 2em;
  left: 0;
  text-align: center;
}

main .quotes-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f7f7ff;
  right: -100%;
  text-align: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  overflow-y: scroll;
}

main .quotes-wrapper .btn {
  margin: 1.5em 0 1em;
}

main .quotes-wrapper .quotes {
  font-family: 'Comfortaa', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .quotes-wrapper .quotes .quote {
  width: 96%;
  margin: 1% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #f7f7ff;
  text-align: center;
  -webkit-box-shadow: 0 10px 60px rgba(69, 74, 253, 0.19);
          box-shadow: 0 10px 60px rgba(69, 74, 253, 0.19);
}

main .quotes-wrapper .quotes .quote h2 {
  font-size: 1.3em;
  line-height: 1.2em;
  padding: 1em 1em 0;
  color: #252525;
}

main .quotes-wrapper .quotes .quote p {
  font-size: 0.7em;
  margin-top: 0.5em;
  padding-bottom: 1em;
  color: #888888;
}

main .quotes-wrapper.animate {
  right: 0;
}

@media (min-width: 550px) {
  .btn {
    font-size: 0.9em;
  }
  main .inner #quote {
    font-size: 1.5em;
  }
  main .inner #author {
    font-size: 0.9em;
  }
  main .quotes-wrapper .quotes .quote {
    width: calc(96%/2);
  }
}

@media (min-width: 850px) {
  .btn {
    font-size: 0.9em;
    margin: 1em;
    padding: 0.75em;
  }
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .inner #quote {
    font-size: 1.9em;
  }
  main .inner #author {
    font-size: 1.4em;
  }
  main .quotes-wrapper .quotes .quote {
    width: calc(94%/3);
  }
}

footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5vh;
  background: #f7f7ff;
  text-align: center;
  font-family: 'Comfortaa', sans-serif;
  font-size: 0.7em;
  color: #252525;
}

footer a {
  margin: 0 5px;
  color: #252525;
}

footer a:hover {
  color: #454afd;
}

@media (min-width: 550px) {
  footer {
    font-size: 0.9em;
  }
}
/*# sourceMappingURL=app.css.map */