$color-main: #454afd;
$color-white: #f7f7ff;
$color-text-main: #252525;
$color-text-sub: #888888;

* {
    margin: 0;
}

.btn {
    margin: 0.25em;
    border: 0;
    background: 0;
    padding: 0.5em;
    font-family: 'Comfortaa', sans-serif;
    font-size: 0.8em;
    color: $color-main;
    background: $color-white;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.57);
    cursor: pointer;
    transition: all 300ms ease;

    &:focus {
        outline: 0;
    }

    &:hover, &:focus {
        background: $color-main;
        color: $color-white;
    }
}

main {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: baseline;
    height: 95vh;
    background: $color-white;

    .inner {
        font-family: 'Comfortaa', sans-serif;
        width: 80%;
        margin-top: 1em;
        padding: 1em;
        background: $color-white;
        text-align: center;
        box-shadow: 0 10px 60px rgba(69,74,253,.19);

        #quote {
            font-size: 1.3em;
            line-height: 1.2em;
            color: $color-text-main;
        }

        #author {
            font-size: 0.7em;
            margin-top: 1em;
            font-style: italic;
            color: $color-text-sub;
        }

        .options {
            position: absolute;
            width: 100%;
            bottom: 2em;
            left: 0;
            text-align: center;
        }
    }

    .quotes-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        background: $color-white;
        right: -100%;
        text-align: center;
        transition: all 500ms ease;

        .btn {
            margin: 1.5em 0 1em;
        }

        .quotes {
            font-family: 'Comfortaa', sans-serif;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
    
            .quote {
                width: 96%;
                margin: 1% auto;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                background: $color-white;
                text-align: center;
                box-shadow: 0 10px 60px rgba(69,74,253,.19);
    
                h2 {
                    font-size: 1.3em;
                    line-height: 1.2em;
                    padding: 1em 1em 0;
                    color: $color-text-main;
                }
    
                p {
                    font-size: 0.7em;
                    margin-top: 0.5em;
                    padding-bottom: 1em;
                    font-style: italic;
                    color: $color-text-sub;
                }
            }
        }
    }
    .quotes-wrapper.animate {
        right: 0;
    }
    
}

@media (min-width: 550px) {
    .btn {
        font-size: 0.9em;
    }
    main {
        .inner {
            #quote {
                font-size: 1.5em;
            }
            #author {
                font-size: 0.9em;
            }
        }
        .quotes-wrapper {
            .quotes {
                .quote {
                    width: calc(96%/2)
                }
            }
        }
    }
}

@media (min-width: 850px) {
    .btn {
        font-size: 0.9em;
        margin: 1em;
        padding: 0.75em;
    }
    main {
        align-items: center;
        .inner {
            #quote {
                font-size: 1.9em;
            }
            #author {
                font-size: 1.4em;
            }
        }
        .quotes-wrapper {
            .quotes {
                .quote {
                    width: calc(94%/3)
                }
            }
        }
    }
}

footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    background: #f7f7ff;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 0.7em;
    color: $color-text-main;

    a {
        margin: 0 5px;
        color: $color-text-main;

        &:hover {
            color: $color-main;
        }
    }
}

@media (min-width: 550px) {
    footer {
        font-size: 0.9em;
    }
}
